/* body {
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-image: fixed;
}

#welcomePage {
    color: #45a29e;
    font-size: 24px;
    padding: 30px;
    margin: 10px;
}

#welcomePage img {
    width: 40%
} */